@charset "UTF-8";
/* CSS Document */

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */
html {
	color: black;
	text-align: center;
	font-family: sans-serif;
	}

 body {
	width: 650px;
	height: 250px;
    padding: 5px;
	margin: 0 auto 0 auto;
	text-align: center;
 }

 #container {
 	border: 2px solid;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 
  header {
	width: 600px;
	height: 100px;
	text-align: center;
	margin: 0 auto 0 auto;
 }
 
   article {
	width: 600px;
	height: 50px;
	text-align: center;
	background-color: white;
	margin: 0 auto 0 auto;
 }
 
    footer {
	width: 600px;
	height: 50px;
	text-align: center;
	margin: 0 auto 0 auto;
 }
/* Text Styles */
h1 {
	font-size: 28px;
	padding-top: 30px;
}
/* Input Box */
.search-input{
	height: 30px;
	font-size: 14px;
	width: 75%;
}
/* Graphite Flat Button */
.graphite-flat-button {
  position: relative;
  vertical-align: top;
  width: 20%;
  padding-left: 4.9%;
  height: 36px;
  padding: 0;
  font-size: 16px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #454545;
  border: 0;
  border-bottom: 2px solid #2f2e2e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2f2e2e;
  box-shadow: inset 0 -2px #2f2e2e;
}
.graphite-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}